[
    {
        "donator": "Amazing guy",
        "sum": 999999
    },
    {
        "donator": "Exellent boy",
        "sum": 88888
    },
    {
        "donator": "Good girl",
        "sum": 7777
    },
    {
        "donator": "Somebody",
        "sum": 1
    }
]